.header {
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 99;
  .menu {
    width: 480px;
    height: 650px;
    background-color: #fff;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    a {
      color: #000;
    }
  }
}